* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #eee;
}



/* HEADER */
.headerComponent {
  background: #03A9F4;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  font-size: 150%;
}

/* SEARCH */
.searchForm {
  text-align: center;
  padding: 10px 0;
}

.locationInput,
.daysInput,
.searchBtn {
  font-size: 125%;
  margin-right: 15px;
  border-radius: 15px;
  padding:2px 5px;
}

.searchBtn {
  background-color: #eee;
  color: #0cb1fc;
  border: 1px solid #0cb1fc; 
  transition: background 0.2s, color 0.2s; 
}

.searchBtn:hover {
  background-color: #0cb1fc;
  color: #fff
}

/*FOOTER*/
.footerComponent {
  background: #555;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 0px;
  margin-top: 25px;
}

.footerComponent a {
  text-decoration: none;
  color: #03A9F4;
}

.footerComponent a:hover {
  text-decoration: underline;
}


.forecasts {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    text-align: center;
}

.forcastDay {
    background-color: #fff;
    display: inline-block;
    padding: 15px;
    text-align: center;
    border-radius: 10%;
    margin-left: 15px;
    margin-bottom: 30px;
    width: 325px;
    height:auto
}

.forecastIcon {
    width: 175px;
}

.forecastTitle {
    text-align: center;
    padding-bottom: 20px;
}